PORT=4000
CLIENT_ORIGIN=http://127.0.0.1:5500
JWT_ACCESS_SECRET=change-this-access-secret
DATABASE_URL=postgresql://volcanup_app:ChangeMeStrong123!@localhost:5432/volcanup
ADMIN_SEED_EMAIL=admin@volcanup.fr
ADMIN_SEED_USERNAME=adminvolcanupsolutions
ADMIN_SEED_PASSWORD=admin12345
