PORT=4000
CLIENT_ORIGIN=http://127.0.0.1:5500
JWT_ACCESS_SECRET=change-this-access-secret
ADMIN_EMAIL=admin@volcanup.fr
ADMIN_PASSWORD_HASH=$2b$10$R6r8M5hl0J8q6GShJ5FJ4u6pAWEyQFMxwef4XOg2BcN3gVHFbWf2G
